@import "tailwindcss";

body {
  @apply bg-gray-900 text-gray-100;
  /* プルダウン更新を防ぐ */
  overscroll-behavior-y: contain;
  /* iOSのバウンススクロールを無効化 */
  -webkit-overflow-scrolling: touch;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 6s ease infinite;
}
